

$main_light: #f6f5f2;
$main_dark: #cfded1;
$secondary_light: #f0ebe3;
$secondary_dark: #134f17;
$tertiary: #009e0f;
$text: #333333;



$body-background-color: $main_light;
$body-heading-color: $secondary_dark;
$body-text-color: $text;

$link-color: $tertiary;

$nav-child-link-color: $secondary_dark;
$sidebar-color: $secondary_light;

$base-button-color: #f7f7f7;
$btn-primary-color: $tertiary;

$feedback-color: darken($sidebar-color, 3%);

$code-background-color: $main_dark;
$table-background-color: $main_light;

$search-background-color: $main_light;
$search-result-preview-color: $main_dark;
