.button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #005f73;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .button:hover {
    background-color: #80cbc4;
  }

  /* Adjust the logo container */
header .site-logo {
  height: 250px !important; /* Increase the height of the container */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adjust the logo size */
header .site-logo img {
  max-height: 220px !important; /* Increase the logo size */
  width: auto; /* Maintain aspect ratio */
}